* {
box-sizing:border-box;
}
#logot{
position:fixed;
left:0;
width:40%;

}
header{
  background-color:white;
  display:flex;
  position:fixed;
  top:0;
  padding: 0px;
  justify-content: space-around;
  align-items:center;
  width:100%;
  height:50px;

}
#header-img{
  height:50px;
  width:50px;
  position:fixed;
  top:0px;
  left:0px;
  }
#microverse{
  margin:0 0 0 50px;
  color:rgba(235, 56, 2, 0.961);
  }
nav{
  font-weight: 400;
  position:fixed;
  top:0;
  width:60%;
  
  }
#nav-list{
  display:flex;
  list-style:none;
  width: 40vm;
text-align:-webkit-match-parent;
  }
.nav-link{
  text-decoration:none;
  cursor: pointer;
  color:black;
  padding-left:40px;
  text-align:right;
  font-size:1.2em;
}
body {
  background-image: linear-gradient( 115deg, rgba(210, 229, 242, 0.791),
   rgba(1, 18, 54, 0.791));
  font-family: 'Lato', sans-serif;
  
}
#video{
  width:320px;     
  height:240px;
  margin-top:10px;
  align-items:right;
  margin-left: 50px;

  /* align-items:flex-start; */
}
#video2{
  width:320px;
  height:240px;
  margin-top:5px;
  align-items:left;
  padding: 50px;
}
@media screen and(min-width:480px)
{
  header{
    display:block;
  }
}
.container {
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
}
#catogories{
  color:white;
  display:flex;
  flex-direction: column;
  margin-top:50px;
}
form,#video{
  display:flex;
  justify-content: center;
  margin:30px auto;
}